{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "master"
        }
    },
    "mutators": {
        "@default": true,
        "TrueValue": {
            "ignore": [
                "Yiisoft\\Cache\\Memcached\\Memcached::getNewServers"
            ]
        }
    }
}
